# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

Resources:
  Target5XXAlarm:
    Type: 'AWS::CloudWatch::Alarm'
    Properties:
      ComparisonOperator: GreaterThanThreshold
      Dimensions:
      - Name: TargetGroup 
        Value:
          Fn::GetAtt : ["AWSEBV2LoadBalancerTargetGroup", "TargetGroupFullName"]
      - Name: LoadBalancer
        Value:
          Fn::GetAtt : ["AWSEBV2LoadBalancer", "LoadBalancerFullName"]
      EvaluationPeriods: 5
      MetricName: HTTPCode_Target_5XX_Count
      Namespace: 'AWS/ApplicationELB'
      Period: 60
      Statistic: Sum
      Threshold: 1