# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

files:
    "C:\\Program Files\\Amazon\\AmazonCloudWatchAgent\\cw-eb-mon.json":
        content: |
            {
                "metrics": {
                    "namespace": "EBSampleApp",
                    "append_dimensions": {
                        "InstanceId": "${aws:InstanceId}",
                        "AutoScalingGroupName": "${aws:AutoScalingGroupName}"
                    },
                    "aggregation_dimensions": [["InstanceId"],["AutoScalingGroupName"]],
                    "metrics_collected": {
                        "LogicalDisk": {
                            "measurement": [
                                "% Free Space"
                            ],
                            "resources": [
                                "*"
                            ],
                            "metrics_collection_interval": 300
                        },
                        "Memory": {
                            "measurement": [
                                "Page Faults/sec"
                            ],
                            "metrics_collection_interval": 300
                        },
                        "ASP.NET": {
                            "measurement": [
                                "Requests Wait Time",
                                "Requests Current",
                                "Requests Rejected"
                            ],
                            "metrics_collection_interval": 300
                        },
                        "procstat": [
                            {
                                "pattern": "%w3wp.exe%WebAPIPool%",
                                "measurement": [
                                    "cpu_usage",
                                    "memory_rss"
                                ],
                                "metrics_collection_interval": 300,
                                "append_dimensions": {
                                    "application_pool_name": "WebAPIPool"
                                }                                
                            },
                            {
                                "pattern": "%w3wp.exe%MyTestAppPool%",
                                "measurement": [
                                    "cpu_usage",
                                    "memory_rss"
                                ],
                                "metrics_collection_interval": 300,
                                "append_dimensions": {
                                    "application_pool_name": "MyTestAppPool"
                                }                                
                            },
                            {
                                "pattern": "%w3wp.exe%YourTestAppPool%",
                                "measurement": [
                                    "cpu_usage",
                                    "memory_rss"
                                ],
                                "metrics_collection_interval": 300,
                                "append_dimensions": {
                                    "application_pool_name": "YourTestAppPool"
                                }                                
                            }
                        ]
                    }
                },
                "logs": {
                    "logs_collected": {
                        "files": {
                            "collect_list": [
                                {
                                    "file_path": "C:\\inetpub\\ebsampleapp\\My_App\\MyApp-*.log",
                                    "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "MyApp-log"]]}`",
                                    "log_stream_name": "{instance_id}"
                                },
                                {
                                    "file_path": "C:\\inetpub\\ebsampleapp\\Your_App\\YourApp-*.log",
                                    "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "YourApp-log"]]}`",
                                    "log_stream_name": "{instance_id}"
                                }
                            ]
                        },
                        "windows_events": {
                            "collect_list": [
                                {
                                    "event_name": "Application",
                                    "event_levels": [
                                        "INFORMATION",
                                        "WARNING",
                                        "ERROR",
                                        "CRITICAL"
                                    ],
                                    "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "WinApp-log"]]}`",
                                    "log_stream_name": "{instance_id}",
                                    "event_format": "xml"
                                },
                                {
                                    "event_name": "Security",
                                    "event_levels": [
                                        "INFORMATION",
                                        "WARNING",
                                        "ERROR",
                                        "CRITICAL"
                                    ],
                                    "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "WinSec-log"]]}`",
                                    "log_stream_name": "{instance_id}",
                                    "event_format": "xml"
                                },
                                {
                                    "event_name": "System",
                                    "event_levels": [
                                        "INFORMATION",
                                        "WARNING",
                                        "ERROR",
                                        "CRITICAL"
                                    ],
                                    "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "WinSys-log"]]}`",
                                    "log_stream_name": "{instance_id}",
                                    "event_format": "xml"
                                }
                            ]
                        }
                    },
                    "log_stream_name": "{instance_id}"
                }
            }

container_commands:
  01_set_config_and_init_cw_agent:
    command: powershell.exe cd 'C:\Program Files\Amazon\AmazonCloudWatchAgent'; powershell.exe -ExecutionPolicy Bypass -File ./amazon-cloudwatch-agent-ctl.ps1 -a append-config -m ec2 -c file:cw-eb-mon.json -s; powershell.exe -ExecutionPolicy Bypass -File ./amazon-cloudwatch-agent-ctl.ps1 -a start; exit