# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

option_settings:
  - namespace: aws:elasticbeanstalk:healthreporting:system
    option_name: ConfigDocument
    value: {
  "CloudWatchMetrics": {
    "Environment": {
      "InstancesOk": 60,
      "InstancesUnknown": 60,
      "InstancesInfo": 60,
      "InstancesNoData": 60,
      "InstancesPending": 60,
      "InstancesDegraded": 60,
      "InstancesWarning": 60,
      "InstancesSevere": 60,
      "ApplicationRequests5xx": 60,
      "ApplicationRequests4xx": 60,
      "ApplicationRequests3xx": 60
    },
    "Instance": {
      "InstanceHealth": 60,
      "ApplicationRequests5xx": 60,
      "ApplicationRequests4xx": 60,
      "ApplicationRequests3xx": 60,
      "ApplicationLatencyP90": 60,
      "ApplicationLatencyP50": 60
    }
  },
  "Version": 1
}